{{range .Types}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines model for {{.JsonName}}.{{ end }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}

{{if not .IsAlias }}
func (data {{.TypeName}}) String() string {
	out, _ := json.MarshalIndent(data, "", "    ")
	return string(out)
}
{{end}}
{{end}}
